.Title {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 100%;
  :first-child {
    margin: 0;
    font-size: min(3.5dvw,3rem);
    white-space: nowrap;
    overflow: hidden;
  }
}
